<h7 onclick="sendData()">welcome to the Interactions Index</h7>
<h1>Show me the Mappy</h1>
<a href="javascript:javascript: (function () {
  var bookmarklet = document.createElement('script'); 
  bookmarklet.setAttribute('src', 'http://localhost:3000/assets/bookmarklet.js');
  document.body.appendChild(bookmarklet); 
  var mapLib = document.createElement('script'); 
  mapLib.setAttribute('src', 'http://localhost:3000/assets/heatmap.js');
  document.body.appendChild(mapLib); 
}());;">Get Data</a>

<!-- <div id="heatMapContainer"></div> -->

<% @interactions.each do |int| %>
  <%= int.move %>
  <%= int.time %> 
<% end %> 

<script type="text/javascript">
function hi() {
  var mapLib = document.createElement('script');
  alert("step1");
  mapLib.setAttribute('type','text/javascript');
  alert("step2");
  mapLib.setAttribute('charset','UTF-8');
  alert("step3");
  mapLib.setAttribute('src','http://localhost:3000/assets/heatmap.js');
  alert("step4");
  document.body.appendChild(mapLib);
  var bookmarklet = document.createElement('script');
  alert("step5");
  bookmarklet.setAttribute('type','text/javascript');
  alert("step6");
  bookmarklet.setAttribute('charset','UTF-8');
  alert("step7");
  bookmarklet.setAttribute('src','http://localhost:3000/assets/bookmarklet.js');
  alert("step8");
  document.body.appendChild(bookmarklet);
};




</script>


