<h1 onclick="sendData()">welcome to the Interactions Index</h1>

<div id="mapContainer"></div>

<% @interactions.each do |int| %>
  <%= int.move %>
  <%= int.time %> 
<% end %> 

<script type="text/javascript">

var trackEnabled = true;
var coordinates = "";
var timeOfLoad = "";

window.onload = function() {
  timeOfLoad += Date.now();
}

window.onmousemove = function (event) {
  if (trackEnabled) {
    printMovement(event);
    trackEnabled = false;
  };
};

function printMovement (event) {
  coordinates += ("("+event.clientX+","+event.clientY+")");
  console.log("("+event.clientX+","+event.clientY+")");
}

timer = window.setInterval(function() {
  trackEnabled = true;
}, 400);

mouseTrackTimer = window.setInterval(function() {
  trackEnabled = true;
}, 400);

// sendCoordTimer = window.setInterval(function() {
function sendData() {  
  console.log(coordinates);
  $.ajax({
    type: "POST",
    url: 'http://localhost:3000/interactions',
    datatType: 'json',
    data: {
      interaction: {
        move: coordinates
      }  
    },
    success: function(response) {
      alert('works');
    }
  });
} 

// 9000);

// var heatmap = {}
window.onload = function() {

  var config = {
      "radius": 30,
      "element": document.getElementById("mapContainer"),
      "visible": true,
      "opacity": 40,
      "gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
  };

  var heatmap = heatmapFactory.create(config);
  heatmap.store.setDataSet({ max: 10, data: [{x: 10, y: 20, count: 2} ]} );
  heatmap.store.addDataPoint(300, 220);
  heatmap.store.addDataPoint(10, 40);
  heatmap.store.addDataPoint(400, 60);
  heatmap.store.addDataPoint(800, 300);
  heatmap.store.addDataPoint(42, 33);
  heatmap.store.addDataPoint(10, 20);
}



</script>

<style type="text/css">
#mapContainer {
  height: 1000px;
  width: 1000px;
  border: 2px solid black;
  position: relative;
}
</style>