<h1>Interaction</h1>

<script type="text/javascript">

window.onload = function() {
  //create iframe
  $("body").append("<iframe src=<%= @url %> style='width:<%= @interaction.window_width %>px;height:<%= @interaction.body_height %>px'</iframe>");
  
  var windowLength = String(window.innerWidth -25)+"px";
  var bodyHeight = String(document.body.scrollHeight)+"px";
  document.body.innerHTML += "<div id='heatMapContainer' style='z-index:-1;height:1000px;border:2px solid black;position:absolute;top:4px;left:4px'></div>";
  document.getElementById('heatMapContainer').style.width = windowLength;
  document.getElementById('heatMapContainer').style.height = bodyHeight;

  var coordsArray = <%= raw @coordsArray %>
  var cleanData = [];

  function cleanCoordArrayRuby(coords){
    for(var i=0; i<coordsArray.length; i++) {
      var obj = coordsArray[i];
      if(matchFound(obj) === false){
        var countObj = obj;
        countObj.count = 1;
        cleanData.push(countObj);
      }
    }
    console.log(cleanData);
    displayMap();
  }

  function matchFound(obj) {
    if (cleanData.length === 0) {
      return false;
    }
    else {
      for (var i=0; i<cleanData.length; i++) {
        var cleanObj = cleanData[i];
        if (obj.x === cleanObj.x && obj.y === cleanObj.y) {
          cleanObj.count += 1;
          return true;
        }
      }
      return false;
    }
  }

  function displayMap() {
    console.log("displayMap is fired");
    var config = {
      "radius": 50,
      "element": document.getElementById("heatMapContainer"),
      "visible": true,
      "opacity": 100,
      "gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
    };
    var heatmap = heatmapFactory.create(config);
    heatmap.store.setDataSet({ max: 10, data: cleanData } );
    //change z-index inorder to make the heatMap the first layer
    document.getElementById("heatMapContainer").style.zIndex="1";
  }

  cleanCoordArrayRuby(coordsArray);

};


</script>
  