
<div class="row-fluid">
  <div class="col-md-6">
    <h1>Drag to Bookmarks Bar</h1>
    <div class="bookmarklet"><a class="bookmarkletLink" href="javascript:javascript: (function () {
      var bookmarklet = document.createElement('script'); 
      bookmarklet.setAttribute('src', 'http://mousemapper.herokuapp.com/javascripts/bookmarklet.js');
      document.body.appendChild(bookmarklet); 
      var mapLib = document.createElement('script'); 
      mapLib.setAttribute('src', 'http://mousemapper.herokuapp.com/assets/heatmap.js');
      document.body.appendChild(mapLib);
      var jQueryLib = document.createElement('script'); 
      jQueryLib.setAttribute('src', 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js');
      document.body.appendChild(jQueryLib);
      mouseTrackerUserId = <%= current_user.id %>;
    }());;"><span class="bookmarkletLinkExpansion"></span>Get Data</a>
      <img class="fireIcon" src="http://mousemapper.herokuapp.com/assets/fire.svg">
    </div>
  </div>
  <div class="col-md-6">
    <h1>Copy Script</h1>
    <div>
      <pre>

        &lt;script type='text/javascript'&gt; window.mouseTrackerUserId = <%= current_user.id %> &lt;/script&gt;

        &lt;script type='text/javascript' src='http://mousemapper.herokuapp.com/javascripts/copyScripts.js'&gt; &lt;/script&gt;

        &lt;script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'&gt; &lt;/script&gt;
        
      </pre>
    </div>
  </div>  
</div>