
<table>
  <th>URL</th>
  <th>Date</th>
  <% if @sites %>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.url, site_interactions_path(site.id) %></td>
      </tr>
    <% end %>
  <% else %> 
    <h2>No Sites have been tracked yet</h2>     
  <% end %>   
</table>


