
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Site Visits</h1>
  </div>
  <div class="col-md-2">
</div> 
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="tableShell">
      <h4><%= @site.url %></h4>
      <table class="table table-striped">
        <th>Time</th>
        <tr>
          <td><%= link_to "All", combined_interactions_site_path(@site.id) %> </td>
        </tr>
        <% @site_interactions.each do |si| %> 
          <tr>
            <td><%= link_to si.time, interaction_path(si.id) %></td>
          </tr>
        <% end %>   
      </table>
    </div>
  </div>  
  <div class="col-md-4"></div>
</div>    